.container .tab-menu li a{
    padding : 5px 15px;
    display : block;
    float : left;
    min-width : 40px;
    text-align : center;
    text-decoration : none;
    color : #444;
    font-weight : bold;
    border-style : solid;
    border-color : rgba(179, 179, 179, 0.13);
    border-width : 1px 1px 0px 0px;
}

.container .tab-menu li:first-child a{
    border-width : 1px 1px 0px 1px;
}

.container .tab-menu li.active a{
    background-color : #fff;
    border-color : #eee;
    color : #39A29E;
    .round-box(3px, 0px, 0px, 3px);
    .box-shadow(0, -1px, 1px, #eee);
}

.container .tab-header{
    margin-bottom : -1px;
}

.container .tab-container{
    border : solid 1px #eee;
    background-color : #fff;
    padding : 15px;
    margin-bottom : 40px;
    .box-shadow(0, 0, 5px, #eee);
}
