.container .tab-menu li a{
    padding : 5px 15px;
    display : block;
    float : left;
    min-width : 40px;
    text-align : center;
    text-decoration : none;
    color : #444;
    font-weight : bold;
    border-style : solid;
    border-color : transparent;
    border-width : 1px 1px 0px 1px;
}

.container .tab-menu li.active a{
    background-color : #fff;
    border-color : #eee;
    .round-box(3px, 0px, 0px, 3px);
}

.container .tab-header{
    margin-bottom : -1px;
}

.container .tab-container{
    border : solid 1px #eee;
    background-color : #fff;
    padding : 10px;
}
