<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <global-method-security pre-post-annotations="enabled"/>
 
    <http  use-expressions="true" 
           auto-config="true">
        
        <intercept-url pattern="/*"
                       access="isAuthenticated()" />
        
        <logout logout-url="/logout" 
                delete-cookies="JSSESSIONID"/>
        
        <form-login login-page="/signin"
                    login-processing-url="/login"
                    username-parameter="username"
                    password-parameter="password"
                    default-target-url="/"
                    always-use-default-target="true" />
         
        <remember-me key="rememberMeKey"
                     user-service-ref="userDetailsService"/>        
    </http>
    <beans:bean id="userDetailsService" class="com.pamarin.income.security.UserDetailsServiceImpl"/>
    
    <authentication-manager alias="authenManager">
        <authentication-provider user-service-ref="userDetailsService">
        </authentication-provider>
    </authentication-manager>
</beans:beans>