.ui-button.ui-widget.ui-state-default.gray-button,
.ui-button.ui-widget.ui-state-default.gray-button:active,
.ui-button.ui-widget.ui-state-default.gray-button:focus {
  background: #B3B3B3 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
}
.ui-button.ui-widget.ui-state-default.gray-button .ui-button-text,
.ui-button.ui-widget.ui-state-default.gray-button:active .ui-button-text,
.ui-button.ui-widget.ui-state-default.gray-button:focus .ui-button-text {
  color: #FFFFFF !important;
  text-shadow: 0 0 0 #535353 !important;
}
.ui-button.ui-widget.ui-state-default.white-plain-button,
.ui-button.ui-widget.ui-state-default.white-plain-button:active,
.ui-button.ui-widget.ui-state-default.white-plain-button:focus {
  background: #fdfdfd !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid !important;
  border-color: #e2e2e2 #e2e2e2 #CDCDCD #e2e2e2 !important;
}
.ui-button.ui-widget.ui-state-default.white-plain-button .ui-button-text,
.ui-button.ui-widget.ui-state-default.white-plain-button:active .ui-button-text,
.ui-button.ui-widget.ui-state-default.white-plain-button:focus .ui-button-text {
  color: #666 !important;
  text-shadow: 0 0 0 #535353 !important;
}
.ui-button.ui-widget.ui-state-default.white-button,
.ui-button.ui-widget.ui-state-default.white-button:active,
.ui-button.ui-widget.ui-state-default.white-button:focus,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default:active,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default:focus,
.ui-fileupload .ui-button.ui-widget.ui-state-default,
.ui-fileupload .ui-button.ui-widget.ui-state-default:active,
.ui-fileupload .ui-button.ui-widget.ui-state-default:focus {
  background: #F7f7f7 !important;
  background: -moz-linear-gradient(top, #fdfdfd, 0%, #f7f7f7 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f7f7f7)) !important;
  background: -webkit-linear-gradient(top, #fdfdfd, 0%, #f7f7f7 100%) !important;
  background: -o-linear-gradient(top, #fdfdfd, 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #fdfdfd, 0%, #f7f7f7 100%) !important;
  background: linear-gradient(top, #fdfdfd, 0%, #f7f7f7 100%) !important;
  box-shadow: 0 2px 2px #fcfcfc inset, 0 1px 2px rgba(226, 226, 226, 0.09) !important;
  -moz-box-shadow: 0 2px 2px #fcfcfc inset, 0 1px 2px rgba(226, 226, 226, 0.09) !important;
  -webkit-box-shadow: 0 2px 2px #fcfcfc inset, 0 1px 2px rgba(226, 226, 226, 0.09) !important;
  border: 1px solid #E0E0E0 !important;
}
.ui-button.ui-widget.ui-state-default.white-button .ui-button-text,
.ui-button.ui-widget.ui-state-default.white-button:active .ui-button-text,
.ui-button.ui-widget.ui-state-default.white-button:focus .ui-button-text,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default .ui-button-text,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default:active .ui-button-text,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default:focus .ui-button-text,
.ui-fileupload .ui-button.ui-widget.ui-state-default .ui-button-text,
.ui-fileupload .ui-button.ui-widget.ui-state-default:active .ui-button-text,
.ui-fileupload .ui-button.ui-widget.ui-state-default:focus .ui-button-text {
  text-shadow: 0 0 0 #fff !important;
  color: #5E5E5E;
}
.ui-button.ui-widget.ui-state-default.white-button .ui-icon,
.ui-button.ui-widget.ui-state-default.white-button:active .ui-icon,
.ui-button.ui-widget.ui-state-default.white-button:focus .ui-icon,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default .ui-icon,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default:active .ui-icon,
.ui-menubutton.white-button .ui-button.ui-widget.ui-state-default:focus .ui-icon,
.ui-fileupload .ui-button.ui-widget.ui-state-default .ui-icon,
.ui-fileupload .ui-button.ui-widget.ui-state-default:active .ui-icon,
.ui-fileupload .ui-button.ui-widget.ui-state-default:focus .ui-icon {
  opacity: .5 !important;
  filter: alpha(opacity=50) !important;
}
.ui-button.ui-widget.ui-state-default.white-button:hover {
  border-color: #ccc !important;
  z-index: 8;
}
.ui-button.ui-widget.ui-state-default.white-button:active,
.ui-button.ui-widget.ui-state-default.white-button:focus {
  border-color: #3297fd !important;
  z-index: 10;
}
.ui-button.ui-widget.ui-state-default.green-button,
.ui-button.ui-widget.ui-state-default.green-button:active,
.ui-button.ui-widget.ui-state-default.green-button:focus {
  background: #3CBD51 !important;
  box-shadow: 0 1px 0 #3cbd51 inset, 1px 1px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 1px 0 #3cbd51 inset, 1px 1px rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 1px 0 #3cbd51 inset, 1px 1px rgba(0, 0, 0, 0.12) !important;
  border: 1px solid #3CBD51 !important;
}
.ui-button.ui-widget.ui-state-default.green-button .ui-button-text,
.ui-button.ui-widget.ui-state-default.green-button:active .ui-button-text,
.ui-button.ui-widget.ui-state-default.green-button:focus .ui-button-text {
  text-shadow: 0 0px 0 #3CBD51 !important;
  color: #fff;
}
.ui-button.ui-widget.ui-state-default.red-button,
.ui-button.ui-widget.ui-state-default.red-button:active,
.ui-button.ui-widget.ui-state-default.red-button:focus {
  background: #ED5252 !important;
  box-shadow: 0 1px 0 #ED5252 inset !important;
  -moz-box-shadow: 0 1px 0 #ED5252 inset !important;
  -webkit-box-shadow: 0 1px 0 #ED5252 inset !important;
  border: 1px solid #ED5252 !important;
}
.ui-button.ui-widget.ui-state-default.red-button .ui-button-text,
.ui-button.ui-widget.ui-state-default.red-button:active .ui-button-text,
.ui-button.ui-widget.ui-state-default.red-button:focus .ui-button-text {
  text-shadow: 0 0px 0 #ED5252 !important;
  color: #fff;
}
.ui-button.ui-widget.ui-state-default.blue-button,
.ui-button.ui-widget.ui-state-default.blue-button:active,
.ui-button.ui-widget.ui-state-default.blue-button:focus {
  background: #3297fd !important;
  box-shadow: 0 -10px 10px #4597ec inset !important;
  -moz-box-shadow: 0 -10px 10px #4597ec inset !important;
  -webkit-box-shadow: 0 -10px 10px #4597ec inset !important;
  border: 1px solid #419DFA !important;
}
.ui-button.ui-widget.ui-state-default.blue-button .ui-button-text,
.ui-button.ui-widget.ui-state-default.blue-button:active .ui-button-text,
.ui-button.ui-widget.ui-state-default.blue-button:focus .ui-button-text {
  text-shadow: 0 0px 0 #3297fd !important;
  color: #fff;
}
.ui-button .ui-button-text {
  padding: 5px 22px 5px 22px;
}
.ui-button .ui-button-icon-left + .ui-button-text {
  padding-left: 35px;
}
.ui-button .ui-button-icon-right + .ui-button-text {
  padding-right: 35px;
}
.round-button {
  border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
}
