.ui-tabs-panel {
  padding: 15px 0 0 0 !important;
}
.ui-tabs .ui-tabs-nav a {
  padding: 5px 10px !important;
  font-size: 10pt !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected:hover {
  background: #fdfdfd !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected:hover a {
  color: #4aa4e0 !important;
  cursor: default !important;
}
.ui-tabs .ui-tabs-nav li {
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  border-color: #ddd !important;
  background-color: #fdfdfd;
}
.ui-tabs .ui-tabs-nav li:hover {
  background: none !important;
}
.ui-tabs .ui-tabs-nav li:hover a {
  color: #555555 !important;
}
