<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <global-method-security pre-post-annotations="enabled"/>
 
    <http  use-expressions="true" 
           auto-config="true">
        
        <intercept-url pattern="/income/**"
                       access="isAuthenticated()" />
        <intercept-url pattern="/settings/**"
                       access="isAuthenticated()" />
        <intercept-url pattern="/dialogs/**"
                       access="isAuthenticated()" />
        
        <logout logout-url="/logout" 
                delete-cookies="JSSESSIONID"/>
        
        <form-login login-page="/signin/"
                    login-processing-url="/login"
                    username-parameter="username"
                    password-parameter="password"
                    default-target-url="/"
                    always-use-default-target="true" />
         
        <remember-me key="rememberMeKey"
                     user-service-ref="userDetailsService"/>  
        
        <custom-filter ref="sessionManagementFilter" before="SESSION_MANAGEMENT_FILTER"/>      
    </http>
    <beans:bean id="userDetailsService" class="com.pamarin.income.security.UserDetailsServiceImpl"/>
    
    <authentication-manager alias="authenManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>
    
    
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11" />
    </beans:bean>
    
    <beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <beans:property name="basename" value="springsecurity"/>
    </beans:bean>


    <beans:bean id="sessionManagementFilter" class="org.springframework.security.web.session.SessionManagementFilter">
        <beans:constructor-arg name="securityContextRepository" ref="httpSessionSecurityContextRepository" />
        <beans:property name="invalidSessionStrategy" ref="redirectStrategy"/>
    </beans:bean>
 
    <beans:bean id="redirectStrategy" class="com.pamarin.income.spring.JsfRedirectStrategy">
        <beans:constructor-arg name="invalidSessionUrl" value="/signin/" />
    </beans:bean>
 
    <beans:bean id="httpSessionSecurityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository"/>
 
</beans:beans>