body{
    background-color : #fafafa;
}

.toolbar{
    position: fixed;
    height : 39px;
    line-height : 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #39A29E;
    left : 0;
    right : 0;
    z-index: 1; 
    .inner-box-shadow(0, 0, 10px, #159994);
    border-bottom : solid 1px #eee;
}

.sidebar{
    position: fixed;
    top : 40px;
    left : 0;
    width: 219px;
    bottom: 25px;
    background: #fff;
    z-index: 1; 
    border-right : 1px solid #eee;
}

.container{
    left: 220px;
    top: 40px;
    position: absolute;
    right : 0;
    min-height: 500px;
    padding: 10px;
}

.container-header{
    height : 50px;
    line-height : 50px;
    position : relative;
    margin-bottom : 15px;
    border-bottom : solid 1px #eee;
}

.container-header-left{
    position : absolute;
    left : 0;
    top : 0; 
}

.container-header-left h1{
    margin-left : 15px;
}

.bottombar{
    position : fixed;
    left: 0;
    bottom : 0;
    height : 24px;
    line-height : 24px;
    right : 0;
    border-top : 1px solid #eee;
    background-color : #fff;
}

.bottombar-left{
    position : absolute;
    left : 10px;
    bottom : 0;
}

.bottombar-right{
    position : absolute;
    right : 10px;
    bottom : 0;
}

.appname{
    color: #fff;
    font-size: 14pt;
}

.user-details{
    position: absolute;
    right: 10px;
    top: 0;
}

.user-details a{
    color: #fff;    
}

li{
    list-style-type : none;
}
.operation-header{
    position : relative;
    height : 40px;
}

.operation-header-left{
    position : absolute;
    left : 0;
    top : 0;
}

.operation-header-right{
    position : absolute;
    right : 0;
    top : 0;
}

.ui-dialog .ui-inputtext{
    width: 350px;
}

.sidebar-menu li a{
    padding : 8px 15px;
    display : block;
    border-bottom : 1px solid #eee;
    font-weight : bold;
    color : #444;
    text-decoration : none;
}

.operation-header .ic-calendar{
    width : 100px;
}

.block{
    margin-bottom : 20px;
}

.block-header{
    margin-bottom : 15px;
    background-color : rgb(248, 248, 248);
    padding : 3px 5px;
}

.block-body{

}

.popover{
    z-index : 3000 !important;
}