.toolbar{
    position: fixed;
    height : 40px;
    line-height : 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(204, 204, 204);
    left : 0;
    right : 0;
    z-index: 1; 
}

.sidebar{
    position: fixed;
    top : 40px;
    left : 0;
    width: 220px;
    bottom: 0;
    background: #fafafa;
    z-index: 1; 
}

.container{
    left: 220px;
    top: 40px;
    position: absolute;
    right : 0;
    min-height: 500px;
    padding: 10px;
}

.appname{
    color: #fff;
    font-size: 14pt;
}

.user-details{
    position: absolute;
    right: 10px;
    top: 0;
}

.user-details a{
    color: #fff;    
}