.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled{
    opacity : .3 !important;
    filter : Alpha(Opacity=60) !important;
}


.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
    background : #ECF3FF !important;
    color : #222 !important;
    border-color : #CDD9FF !important;
}

.ui-state-focus{
    border-color : rgb(85, 144, 218);
}

.ui-shadow{
    box-shadow : 0px 5px 10px rgba(0, 0, 0, 0.40);
    -moz-box-shadow : 0px 5px 10px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow : 0px 5px 10px rgba(0, 0, 0, 0.40);
}

.ui-selectonemenu.ui-state-disabled,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger{
    opacity : 1 !important;
    filter : alpha(opacity=100) !important;
    border-color : #F7F7F7 !important;
    background-color : #fff !important;
}