.ui-datatable-data tr{
    border-color : #E7E7E7 !important;
}

.ui-datatable-tablewrapper th{
    border-color : #E7E7E7 !important;
}

.ui-datatable-tablewrapper th{
    font-weight : bold !important;
    color : #777 !important;
}