.ui-dialog-content{
    padding : 20px !important;
}

.ui-dialog .ui-dialog-titlebar{
    margin : 0 !important;
    border-bottom-color: #fff !important;
    background : #fff !important;
    padding : 15px;
}

.ui-dialog .ui-dialog-titlebar-close{
    top : 15px !important;
    right : 15px !important;
}

.ui-widget-overlay{
    background : #fff !important;
}

.ui-dialog{
    border : solid #C0C0C0 1px;
}