.ui-dialog-content{
    padding : 0px 30px 30px 30px !important;
}

.ui-dialog .ui-dialog-titlebar{
    margin : 0 !important;
    //border-bottom: solid 1px #F7F7F7;
    //background : #fcfcfc !important;
    padding : 30px;
}

.ui-dialog .ui-dialog-titlebar-close{
    top : 30px !important;
    right : 30px !important;
    background-color : transparent !important;
}

.ui-dialog.ui-draggable-dragging{
    border-color : #62B0FF;
}

.ui-widget-overlay{
    background : #fff !important;
    opacity: .55;
    filter: Alpha(Opacity=55);
}

.ui-dialog{
    border : solid 1px rgba(0, 0, 0, 0.2);//solid #CFCFCF 1px;
    background-color : #fdfdfd;
    border-radius: 3px !important;
    .box-shadow-important(0px, 0px, 5px, rgba(0, 0, 0, 0.15));
}