.ui-inputfield, 
.ui-widget-content .ui-inputfield, 
.ui-widget-header .ui-inputfield{
    box-shadow : 0 0 0 #fdfdfd !important;
    -moz-box-shadow : 0 0 0 #fdfdfd !important;
    -webkit-box-shadow : 0 0 0 #fdfdfd !important;
    border-color : transparent transparent #DBDBDB transparent;
    color: dimgrey;
    background-color : transparent;
}

.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-right, 
.ui-corner-br{
    border-radius : 2px !important;
    -moz-border-radius : 2px !important;
    -webkit-border-radius : 2px !important;
}

.ui-inputfield{
    padding : 5px;
}

.ui-autocomplete-panel{
    box-shadow : none !important;
    -moz-box-shadow : none !important;
    -webkit-box-shadow : none !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-color : #D0D0D0 !important;
    margin-top: -1px !important;
}

.ui-autocomplete-items{
    padding : 3px 0px !important;
}

.ui-autocomplete-item{
    padding :3px 10px !important;
}